body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    height: 1020px;
    width: 480px;
    border: 5px;
    border-color: black;
    border-style: inset;
    border-radius: 30px;
    overflow-y: hidden;
}

.landscape{
    height: 480px;
    width: 1020px;
    border: 5px;
    border-color: black;
    border-style: inset;
    border-radius: 30px;
    overflow-y: hidden;
}

section:hover{
    overflow-y: scroll;
}

header{
    padding: 30px;
    padding-bottom: 0px;
}

.heading{
    background-color: rgba(236, 236, 236, 0.863);
    border-bottom: none;
    padding-bottom: 25px;
}

img{
    display:block;
}

.big{
    display:block;
    margin-left: auto;
    margin-right: auto;
    background: white;
}

.small{
    display:block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(236, 236, 236, 0.863);
}

.viz{
    display:block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    background: white;
}

main{
    background:white;
    min-height: 100px;
}

.main{
    background:white;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    min-height: 100px;
}

.menu{
    padding-top: 45px;
    display: inline-block;
    background: white;
    padding: 0.5em;
    display: flex;
}

.benu{
    text-align: right;
    padding-top: 8px;
    padding-left: 60%;
    display: inline-block;
    background: white;
    display: flex;
}

.buttons{
    flex: 1;
    border-radius: 10px;
    padding: 10px;
    background: rgba(236, 236, 236, 0.863);
    color: white;
}

.graphs{
    flex: 1;
    background: white;
    color: white;
    margin-bottom: 40px;
}

.hospitals{
    padding: 15px;
}

.hospital{
    display: flex;
    background: white;
    padding: 15px;
    border-radius: 15px;
}

.news{
    display: block;
    background: white;
    padding: 0px;
    border-radius: 15px;
}

.info{
    flex: 1;
}

.news{
    float: left;
}

.title{
    font-weight: bold;
}

.location{
    color:#665E77;

}
.distance{
    color:#665E77;        

}
.virtual{
    color: #7358D4;
}

.article{
    font-size: 16px;
    font-weight: bold;
}

.description{
    color: #3E3049;
    font-size: 12px;
}

.time{
    color: #3E3049;
    font-size: 10px;
    margin-top: 3px;
    margin-bottom: 10px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}

.directions{
    display:block;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.red{
    text-align: center;
    background: rgba(255, 0, 0, 0.486);
    border-radius: 20px;
    padding-top: 2.5px;
    padding-bottom: 0px;
    margin-right: 15%;
    margin-left: 15%;
}

/* EDIT ALL THE HEADINGS SO THEY LOOK NICE*/
h1, h2, h3, h4, h5, h6{
    color:#3E3049 !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}